body {
    display: flex;
    justify-content: space-around;
}
.body {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
}
.imput_city {
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    width: 500px;
    padding: 15px 47px;
    border: 2px solid #323232;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
.btn button {
    width: 98px;
    height: 50px;
    background: #EF781A;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
.btn :nth-child(2) {
    background: #00D008;
    margin-left: 30px;
}
.header_conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 1280px;*/
}
.header {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 12px;
}
.figure {
    background: #FFD086;
    border-radius: 10px;
    height: 380px;
    /*width: 1280px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-weight: 800;
    font-size: 36px;
}
p {
    font-weight: 500;
    font-size: 20px;
}
.search {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 500px;
    padding: 15px 45px;
    font-weight: 500;
    font-size: 16px;
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.restaurant_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
figure {
    margin-left: 0;
    margin-right: 0;
}
.conteiner,.conteiner_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 230px;
    gap: 30px;
}
.conteiner a, .conteiner_2 a {
    height: 230px;
    border-radius: 10px;
}

.conteiner a:first-child, .conteiner a:nth-child(2), .conteiner a:nth-child(3), .conteiner a:nth-child(4), .conteiner a:nth-child(5), .conteiner a:nth-child(6), .conteiner a:nth-child(7), .conteiner a:nth-child(8),.conteiner a:nth-child(9),.conteiner a:nth-child(10),.conteiner a:nth-child(11),.conteiner a:nth-child(12) {
    background-image: url(../img/pic-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(2) {
    background-image: url(../img/pic-2.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(3) {
    background-image: url(../img/pic-3.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(4) {
    background-image: url(../img/pic-4.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(5) {
    background-image: url(../img/pic-5.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(6) {
    background-image: url(../img/pic-6.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(7) {
    background-image: url(../img/pic-7.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(8) {
    background-image: url(../img/pic-8.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(9) {
    background-image: url(../img/pic-9.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(10) {
    background-image: url(../img/pic-10.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(11) {
    background-image: url(../img/pic-11.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(12) {
    background-image: url(../img/pic-11.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(13) {
    background-image: url(../img/pic-13.png);
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner a:nth-child(13) {
    background-image: url(../img/pic-13.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.popular {
    font-weight: 800;
    font-size: 14px;
    color: #FFFFFF;
    height: 28px;
    width: 139px;
    background-color: #FF800C;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 11px;
    text-align: center;
    padding-top: 11px;
}
.free_shipping {
    font-weight: 800;
    font-size: 14px;
    color: #FFFFFF;
    width: 146px;
    height: 45px;;
    background-color: #FF0C0C;;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 11px;
    padding-left: 21px;
    padding-top: 11px;
}
.gift {
    font-weight: 800;
    font-size: 14px;
    color: #FFFFFF;
    width: 236px;
    height: 28px;
    background-color: #FF0000;;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 11px;
    text-align: center;
    padding-top: 11px;
}
h2 {
    color: #000000;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card_info_buttom {
    height: 95px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
    padding-left: 20px;
    margin-top: 86px;
}
.time {
    background-color: #FE7D34;
    width: 108px;
    height: 30px;
    border-radius: 5px;
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;
    background-position: 6px center;
    text-align: center;
    padding-left: 21px;
    padding-top: 9px;
    float: left;
    font-weight: 600;
    font-size: 14px;
}
.price {
    background-color:  #00D008;
    width: 88px;
    height: 30px;
    border-radius: 5px;
    background-image: url(../img/icon4.png);
    background-repeat: no-repeat;
    background-position: 6px center;
    text-align: center;
    padding-left: 21px;
    padding-top: 9px;
    float: right;
    margin-right: 126px;
    font-weight: 600;
    font-size: 14px;
}
.card_info2 >.card_info_buttom {
    margin-top: 69px;
}
.card_info_buttom_buttom {
    height: 95px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
    padding-left: 20px;
    margin-top: 135px;
}
.conteiner_2 a:first-child, .conteiner_2 a:nth-child(2), .conteiner_2 a:nth-child(3),.conteiner_2 a:nth-child(4) {
    background-image: url(../img/pic-14.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner_2 a:nth-child(2) {
    background-image: url(../img/pic-15.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner_2 a:nth-child(3) {
    background-image: url(../img/pic-16.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
}
.conteiner_2 a:nth-child(4) {
    background-image: url(../img/pic-17.png);
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px;
    margin-bottom: 327px;
}
.footer_two_part {
    background-color: #F8F4FC;
    height: 117px;

}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.nav-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding-right: 50px;

}
ul {
    list-style-type: none;
    display: flex;
}
.breadcrumb {
    padding-left: 0;
}
.footer-btns a {
    padding-left: 35px;
}
.breadcrumb :nth-child(2), .breadcrumb :nth-child(3) {
    background-image: url(../img/Arrow\ 1.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}
.breadcrumb a {
    text-decoration: none;
    color: rgba(98, 98, 98, 1);
    position: relative; 
}
.breadcrumb :nth-child(2) :hover, .breadcrumb :nth-child(3) :hover { 
    text-decoration: underline;
}



